@model Proyecto_AMABISCA.Models.PT_DESCRIPCION

@{
    ViewBag.Title = "Edit";
}

<style>
    .title {
        margin-top: 50px;
    }

    .form-register {
        width: 600px;
    }
</style>

<div class="container title logo">
    <h2>EDICIÓN DE PRODUCTOS</h2>
</div>



@using (Html.BeginForm("Edit", "Productos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container form-register">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PC_PRODUCTO)

        <div class="form-group">
            <label class="control-label col-md-4">NOMBRE</label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">PRECIO</label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.PRECIO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PRECIO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">DESCRIPCIÓN</label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">IMAGEN</label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.IMAGEN, new { htmlAttributes = new { @class = "form-control" } })*@
                <img width="100" src="@Url.Action("getImage","Productos",new { id = Model.PC_PRODUCTO})" />
                <input type="file" name="imageload" />
                @Html.ValidationMessageFor(model => model.IMAGEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">CANTIDAD</label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.CANTIDAD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CANTIDAD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">UNIDAD</label>
            <div class="col-md-12">
                @Html.DropDownList("RC_UNIDAD", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RC_UNIDAD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12 justify-content-around d-flex">
                <input type="submit" value="GUARDAR" class="btn btn-primary col-5" />
                <a type="btn" href="@Url.Action("Index")" class="btn btn-secondary col-5">REGRESAR</a>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
