@model Proyecto_AMABISCA.Models.OT_DESCRIPCION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OT_DESCRIPCION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CONDICION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONDICION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANTIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRECIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OT_IDENTIFICACION.RC_ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OT_IDENTIFICACION.RC_ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PT_DESCRIPCION.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PT_DESCRIPCION.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
