@model Proyecto_AMABISCA.Models.UT_ROL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UT_ROL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERMISO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERMISO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PC_ROL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
