@model Proyecto_AMABISCA.Models.PT_UNIDAD

@{
    ViewBag.Title = "Create";
}

<style>
    .title {
        margin-top: 50px;
    }

    .form-register {
        width: 600px;
    }
</style>

<div class="container title logo">
    <h2>REGISTRO DE UNIDADES</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container form-register">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-10">IDENTIFICADOR DE LA UNIDAD</label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.PC_UNIDAD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PC_UNIDAD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-10">NOMBRE DE LA UNIDAD</label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-10">TIPO DE UNIDAD</label>
            <div class="col-md-12">
                @Html.DropDownList("RC_TIPO_UNIDAD", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RC_TIPO_UNIDAD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12 justify-content-around d-flex">
                <input type="submit" value="CREAR" class="btn btn-primary col-5" />
                <a type="btn" href="@Url.Action("Index")" class="btn btn-secondary col-5">REGRESAR</a>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
