@model Proyecto_AMABISCA.Models.UT_CUENTA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UT_CUENTA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLAVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UT_ROL.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UT_ROL.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UT_DESCRIPCION.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UT_DESCRIPCION.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PC_CUENTA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
