@model IEnumerable<Proyecto_AMABISCA.Models.ViewVentas>

@{
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">


<div class="container">
    <table class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
            <tr height="50">
                <td colspan="5" align="center"><h2>VENTAS POR PERIODO</h2></td>
            </tr>
            <tr align="center">
                <th>
                    CÓDIGO
                </th>
                <th>
                    PRODUCTO
                </th>
                <th>
                    VENTAS
                </th>
                <th>
                    PRECIO UNITARIO
                </th>
                <th>
                    TOTAL
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr align="center">
                <td>
                    @Html.DisplayFor(modelItem => item.COD_PRODUCTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VENTAS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRECIO_UNITARIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TOTAL)
                </td>
            </tr>
        }

    </table>


</div>
@Scripts.Render("~/bundles/bootstrap")