@model IEnumerable<Proyecto_AMABISCA.Models.BT_DESCRIPCION>

@{
    ViewBag.Title = "Index";
}

<style>
    .floating-btn {
        font-family: Arial;
        width: 70px;
        height: 70px;
        background: #009879;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        display: flex;
        border-radius: 50%;
        color: #ffffff;
        font-size: 70px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
        position: fixed;
        right: 20px;
        bottom: 20px;
        transition: background 0.25s;
        outline: blue;
        border: none;
        cursor: pointer;
    }

        .floating-btn:active {
            color: #ffffff;
            background: #007D63;
            text-decoration: none;
        }

        .floating-btn:hover {
            color: #ffffff;
            background: #007D63;
            text-decoration: none;
        }

    .btn-primary {
        background: #343a40;
    }

    .card {
        margin-bottom: 0.75rem;
    }

    .title {
        margin-top: 50px;
    }

    .in {
        margin-top: 50px;
        margin-bottom: 20px;
    }
</style>

<a type="btn" class="floating-btn" href="@Url.Action("Create")">+</a>
<div class="container in">
    @using (Html.BeginForm("Index", "Bajas", FormMethod.Get))
    {
        @Html.TextBox("SearchValue")
        <input type="submit" id="BtnBusqueda" value="Buscar" />
    }
</div>
<div class="container">

    <table class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
            <tr height="50">
                <td colspan="6" align="center"><h2>INVENTARIO DE BAJAS</h2></td>
            </tr>
            <tr align="center">
                <th>
                    PRODUCTO
                </th>
                <th>
                    CANTIDAD
                </th>
                <th width="130px">
                    COSTO
                </th>
                <th>
                    TIPO
                </th>
                <th>
                    FECHA
                </th>
                <th>

                </th>
            </tr>
        </thead>

        @if (Model.Count() == 0)
        {
            <tbody>
                <tr>
                    <td colspan="6" style="color:red">
                        Criterio de busqueda no encontrado
                    </td>
                </tr>
            </tbody>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PT_DESCRIPCION.NOMBRE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CANTIDAD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRECIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BT_TIPO.NOMBRE)
                    </td>
                    <td>
                        @Html.ValueFor(modelItem => item.F_CREACION, "{0:dd/MM/yyyy}")
                    </td>
                    <td>
                        <a type="btn" class="btn btn-info" href="@Url.Action("Details",new { id = item.PC_BAJA })">Detalles</a>
                    </td>
                </tr>
            }
        }

    </table>
    </div>